:root {
  --primary-color: #93c5e2;
  --secondary-color: #f9f7fd;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body,
html {
  height: 100%;
}
body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 96px;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 25px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font: size 38px;
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  line-height: 1.5;
}

.content {
  margin: 30px;
}

.content-container {
  padding: 160px 20px;
}

.content h1 {
  font-size: 70px;
  line-height: 80px;
}

.content-container h2 {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

.content-container h3 {
  line-height: 1.5px;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
}

.content p {
  font-size: 14px;
}

.btn-branding {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  color: #f5f2fe;
  padding: 15px 20px;
}
.btn-branding:hover {
  background-color: inherit;
  color: var(--primary-color);
  box-shadow: none;
  border-radius: none;
  border-color: var(--primary-color);
}
.btn-branding-outline {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline:hover {
  background-color: var(--primary-color);
  color: white;
  box-shadow: none;
  border-radius: none;
  border-color: var(--primary-color);
}
.project-description {
  padding: 120px 60px;
}

.logo {
  max-width: 200px;
  margin: -70px;
}

nav {
  padding: 20px 0;
}
nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42 px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: black;
  transition: all 100ms ease-in-out;
  font-size: 14px;
}

nav a:hover,
nav li.active a {
  color: var(--primary-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .project-desciption {
    padding: 0;
    text-align: center;
  }
}
