:root {
  --primary-color: #93c5e2;
  --secondary-color: #f9f7fd;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body,
html {
  height: 100%;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 96px;
  margin: 0;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 25px;
}

p {
  font-weight: normal;
  font-size: 16px;
  margin: 0;
  line-height: 30px;
}

.hero {
  text-align: center;
  margin: 0;
  padding: 160px 20px;
}

.hero p {
  font: size 38px;
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  line-height: 2;
}

.btn-branding {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  color: #f5f2fe;
  padding: 15px 20px;
}
.btn-branding:hover {
  background-color: inherit;
  color: var(--primary-color);
  box-shadow: none;
  border-radius: none;
  border-color: var(--primary-color);
}
.btn-branding-outline {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline:hover {
  background-color: var(--primary-color);
  color: white;
  box-shadow: none;
  border-radius: none;
  border-color: var(--primary-color);
}
.project-description {
  padding: 120px 60px;
}

.freelancer-img {
  max-width: 30%;
}
